<div class="container-fluid">
   <div class="row">
      <div class="col-md-4">
         <div class="card shadow-sm border-0">
            <div class="card-header bg-white border-0 py-3">
               <h5 class="mb-0">Lista de Usuarios</h5>
            </div>
            <div class="list-group list-group-flush">
               @for (user of (users$ | async); track user.id) {
                 <div class="list-group-item sidebar-item py-3" (click)="onSelectedUser(user)" style="cursor: pointer;">
                   <div class="d-flex align-items-center">
                     <img [src]="user.avatarUrl" class="rounded-circle me-3" width="40" alt="avatar">
                     <div>
                       <h6 class="mb-0">{{user.name}}</h6>
                       <small class="text-muted">{{user.role}} • {{user.username}}</small>
                     </div>
                   </div>
                 </div>
               }
            </div>
         </div>
      </div>

      <div class="col-md-8">
         @if (selected) {
            <app-user-detail [userDetail]="selectedUser"></app-user-detail>
         } @else {
            <div class="text-center mt-5 text-muted">
               <p>Selecciona un usuario para ver su detalle</p>
            </div>
         }
      </div>
   </div>
</div>